*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(166, 216, 245);
}

.container{
    width: 400px;
    height: min-content;
    background-color: #fff;
    border-radius: 12px;
    padding: 12px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #e6f5fb;
    padding: 14px 12px;
    border-radius: 14px;
}

.search-box input::placeholder{
    color: #000;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.search-box button:hover{
    color: #fff;
    background-color: #ababab;
}

.wether-body{
    display: none;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
}

.wether-box{
    margin: 20px;
    text-align: center;
}

.wether-box img{
    width: 50%;
}

.wether-box .temprture{
    font-size: 40px;
    position: relative;
    margin: 5px;
    font-weight: bold;
}

.wether-box .temprture sup{
    font-size: 20px;
    position: absolute;
    font-weight: 500;
}

.wether-box .description{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 4500;
}

.wether-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 18px;
}

.wind{
    margin-right: 18px;
}

.wether-details img{
    width: 36px;
    height: 36px;
}

.wether-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
} 

.locatin_not_found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
}